body{
  background-color: mintcream;
}

hr{
  border-style: none;
  border-color: grey;
  width: 5%;
  border-top-style: dotted;
  border-width: 5px;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
h2{
  color: #66BFBF;
}
